doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Super Bank
    link(rel='stylesheet', href='css/app.css')
  body
    h1 Super Bank

    h2#balance Balance
      div#display

    div.transaction
      h3#amount Amount
      input#input(type='text', autofocus=true)
      <br>
      button#deposit Deposit
      button#withdrawal Withdrawal
    div.table
      table#ledger
        thead
          tr
            th.fee Fee
            th.dep Deposit
            th.with Withdrawal
            th.bal Balance
        tbody
          tr
            td.fee#fee
            td.dep
            td.with
            td.bal $1000


    script(src='js/vendor/jquery-2.1.0.js')
    script(src='js/source/main.js')
